* {
    margin: 0%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
    font-style: italic;
}
html{
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    background: linear-gradient(to right,rgb(190, 190, 185),white 25%, white 75%, rgb(190, 190, 185));
    overflow: hidden;
}

main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow: auto;
    scroll-behavior: smooth;
}

section{
    height: fit-content;
}
h1 {
    margin-bottom: 15px;
    font-size: 70px;
}

h2 {
    font-size: 30px;
}

.menu {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
    margin-bottom: 3rem;
}

.idiomas{
    padding-top: 300px;
    background-image: url(idiomas\ varios.jpg);
    background-repeat: no-repeat;
    background-size: 70% 80%;
    
}

.nav {
    width: 100%;
    height: 5%;
    position: fixed;
    background: linear-gradient(to bottom,rgb(190, 190, 185),white );
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid rgb(143, 142, 142);
}

.link {
    display: flex;
    flex: 1 1 auto;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.link:hover {
    background-color: rgb(143, 142, 142);
    transition: 0.5s;
}

a {
    text-decoration: none;
    color: black;
    font-size: x-large;
    font-style: normal;
}

a:hover {
    color: white;
    transition: 0.5s;
}

.banderas {
    display: flex;
    flex-direction: row;
    padding-bottom: 50px;

}

.imagen {
    display: flex;
    margin-left: 5%;
    margin-right: 4%;
    height: 200px;
    width: 300px;
    border-radius: 50%;
}

.imagen img {
    height: 100%;
    width: 100%;
    transition: 0.6s;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

img:hover {
    transform: scale(1.20);
}

#direccion {
    display: flex;
    align-self: center;
    width: 80%;
    border-radius: 4%;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;

}

#direccion:hover {
    transform: none;
}

hr {
    margin-top: 50px;
    height: 100px;
}

.inscripcion {
    display: flex;
    justify-content: flex-end;
    position: fixed;
    bottom: 0;
    right: 3%;
    z-index: 1;
}

.boton {
    padding: 6px 6px 6px 6px;
    transition: 0.4s;
    margin-bottom: 10%;
    background-color: white;
    color: black;
    border: 2px solid black;
    opacity: 0.5;

}

.boton:hover {
    transform: scale(1.2);
    background-color: rgb(143, 142, 142);
    opacity: 1;
}

.texto {
    display: flex;
    justify-content: center;
    color: black;
    padding: 10%;
}

.protocolo {
    display: flex;
    flex-direction: column;
    padding: 10%;
}

.horarios {
    display: flex;
    flex-direction: column;
    height: 50%;
    width: 50%;
    padding-left: 3%;
}

.titulacion-online {
    display: flex;
    flex-direction: column;
    height: 50%;
    width: 50%;
    padding-left: 3%;
}

.icono {
    margin-bottom: 20px;
}

.material-icons {
    font-size: 50px;
}

b {
    font-size: x-large;
}

.foto {
    float: right;
}

.profesorado {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.mapa {
    overflow: hidden;
    margin-left: 15%;
    border-radius: 10%;
    border: 1px black solid;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

#pequeño {
    display: none;
}

@media(max-width:1000px) {
    a {
        font-size: medium;
    }

    .link {
        display: flex;
        flex: 1 1 auto;
        align-items: center;
        justify-content: center;
        overflow: hidden;
    }

    .banderas {
        display: flex;
    }

    img {
        height: 100%;
        width: 100%;
    }

    .imagen {
        height: 100px;
        width: 150px;
        padding-left: 5%;
    }

    #direccion {
        height: 60%;
        width: 100%;
        align-self: flex-end;
    }

    .directora {
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow: hidden;
    }

    .titulo {
        align-self: center;
    }

    hr {
        display: none;
    }

    h1 {
        font-size: 40px;
    }

    .jefe-de-estudio {
        display: flex;
        flex-direction: column;
    }

    .horarios {
        display: flex;
        align-items: center;
        flex-direction: column;
        height: 50%;
        width: 70%;
        padding-left: 3%;
    }

    .titulacion-online {
        display: flex;
        align-items: center;
        flex-direction: column;
        height: 50%;
        width: 70%;
        padding-left: 3%;
    }

    .texto {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .profesorado {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .mapa {
        overflow: hidden;
        width: 500px;
        height: 350px;
        margin-left: 0%;
    }

    #grande {
        display: none;
    }

    #pequeño {
        display: block;
    }

    @media(max-width: 650px) {
        .banderas {
            width: 100%;
            flex-wrap: wrap;
        }

        .imagen {
            margin-top: 3%;
            margin-left: 9%;
            margin-right: 1%;

        }
    }
}